.footer {
    @include background(dark);
    padding: 3em 4%;
    color: $white;
    &__logo {
        @include text(light, title, mid);
        font-family: 'Shrikhand', cursive;
        margin: 0 0 1em 0;
    }
    &__item {
        @extend %flex;
        gap: 1em;
        margin: 0 0 1em 0;
        a {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}