.menu-card {
    cursor: pointer;
    @extend %flex;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    @include background(light);
    @include shadow;
    @include desktop {
        width: 30% !important;
    }
    @include tablet {
        width: 48%;
    }
    &__description {
        padding: 14px 5%;
        width: 100%;
        position: relative;
        overflow: hidden;
        h4 {
            @include text(dark, title, mid);
            margin-bottom: 10px
        }
        h5 {
            @include text(mid, sub, small);
        }
        span {
            position: absolute;
            @include background (light);
            right: 5%;
            bottom: 8px;
            @include text(dark, sub, bold);
            padding: 5px;
        }
    }
    &:hover {
        .check {
            width: 75px;
            i {
                transform: rotate(360deg);
            }
        }
    }
}

.check {
    width: 0px;
    @include background(tertiary);
    @extend %flex;
    @include justify-center;
    @include align-center;
    @include text(light, logo, small);
    transition: all .5s ease-in-out;
    i {
        transform: rotate(45deg);
        transition: transform .5s ease-in-out;
        transition-delay: .3s;
    }
}