.working-card {
    cursor: pointer;
    position: relative;
    @extend %flex;
    @include align-center;
    width: 100%;
    @include background(slate);
    border-radius: 20px;
    height: 70px;
    transition: all .5s ease-in-out;
    @include shadow;
    @include tablet {
        width: 45%;
        margin-bottom: 1em;
    }
    @include desktop {
        width: 30%;
        margin-bottom: 0;
    }
    &:hover {
        background: lighten($primary, 30%);
        li:nth-child(2) {
            color: $primary;
        }
    }
    ul {
        @extend %flex;
        gap: 1em;
        li:nth-child(1) {
            align-self: center;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            @extend %flex;
            @include justify-center;
            @include align-center;
            background-color: $primary;
            @include text(light, text, mid);
            position: absolute;
            left: -11px;
        }
        li:nth-child(2) {
            margin: 0 0 0 3em;
            transition: all .5s ease-in-out;
        }
        @include desktop {
            gap: 3em;
        }
    }
}