/*responsives*/

@mixin shadow {
    box-shadow: 5px 5px 15px lighten($color: $black, $amount: 78);
}

@mixin tablet {
    @media (min-width: map-get($breakpoints, mid)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: map-get($breakpoints, large)) {
        @content;
    }
}


/*padding*/


/*fonts*/

@mixin text ($clrs, $size, $weight) {
    color: map-get($text-colors, $clrs);
    font-size: map-get($font-sizes, $size);
    font-weight: map-get($font-weights, $weight);
}

@mixin background ($bg) {
    background: map-get($backgrounds, $bg);
}

@mixin padding-y {
    padding-bottom: 2%;
    padding-top: 2%;
}

@mixin padding-x {
    padding-left: 3%;
    padding-right: 3%;
}


/*display flex*/

@mixin flex-row {
    flex-direction: row;
    align-items: center;
}

@mixin flex-col {
    flex-direction: column;
}

@mixin space-b {
    justify-content: space-between;
}

@mixin justify-center {
    justify-content: center;
}

@mixin align-center {
    align-items: center;
}


/*buttons*/

@mixin btn {
    &__main {
        background: $main;
        color: map-get($text-colors, light);
        width: 250px;
        height: 50px;
        padding: 0 2%;
        border-radius: 50px;
        @extend %flex;
        @include justify-center;
        @include shadow;
        align-items: center;
        transition: all .5s ease-in-out;
        &--centered {
            margin-top: 2em;
            cursor: pointer;
            align-self: center;
            background: $main;
            color: map-get($text-colors, light);
            width: 250px;
            height: 50px;
            padding: 0 2%;
            border-radius: 50px;
            @extend %flex;
            @include justify-center;
            @include shadow;
            align-items: center;
            transition: all .5s ease-in-out;
            &:hover {
                opacity: 80%;
                color: map-get($text-colors, light);
            }
        }
        &:hover {
            opacity: 80%;
            color: map-get($text-colors, light);
        }
    }
}

%text-center {
    text-align: center;
}